<div class="box">
	<form method="POST" action="/auth/login">
		<div class="field">
			<div class="control">
				<input class="input is-medium" type="password" name="password" placeholder="Password" autofocus="" id="quest-password-input">
			</div>
		</div>
		<div class="level-item">
            <button class="button is-light" type="button" id="submit-quest-btn">SUBMIT</button>
          </div>
	</form>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="/static/scripts/submit_quest.js"></script>
</div>
