<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ blog.owner }}</title>
	<link rel="stylesheet" href="/static/css/blog.css">
</head>
<body>
	<div class="sample-header">
		<div class="sample-header-section">
			<!-- Assign Blog owner from blog data in template flask-->
			<h1>{{ blog.owner }}</h1>
			<!-- Assign Blog title from blog data in template flask-->
			<h2>{{ blog.role }}</h2>

			<!-- Assign Blog subtitle from blog data in template flask-->
			{% if blog.subtitle is not none %}
				<h3>{{ blog.subtitle }}</h3>
			{% endif %}
		</div>
	</div>
	<div class="sample-section-wrap">
		<div class="sample-section">
			<!-- Assign Blog content from blog data in template flask-->
			<div>
				{{ blog.content|safe }}
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/static/blog.js"></script>
</body>
</html>
